/** Colors */
$blue: #425370;
$turkoise-300: #3e94e4;
$turkoise-500: #267ccc;
$turkoise-700: #18548c;
$green: #388e3c;
$teal-500: #009688;
$orange: #f57c00;
$red-300: #D75A4A;
$red-500: #f44336;
$red-600: #e53935;
$red-700: #d32f2f;

$button-primary: $turkoise-300;
$button-primary-hover: $turkoise-500;
$sidebar-bg-color: $turkoise-500;
$badge: $red-300;



/** fonts */
$font-family: "Roboto", sans-serif;